@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .overrideLeft-class {
    position: fixed !important;
    right: auto !important;
  }
  .overrideLeftSIDE-class {
    position: fixed !important;
    transform-origin: left 0% !important;
    margin: unset !important;
    left: 0px !important;
    bottom: unset !important;
    top: 50%;
    transform: rotate(270deg) translateX(-50%) !important;
    right: inherit !important; border-radius: 0px 0px 5px 5px !important;
  }
  .overrideGradient-class {
    background: var(--btn-bg) !important;
  }
}

@theme {
  --color-fh-blue: oklch(58.52% 0.191 255.30);
  --color-dark-highlight: oklch(100.00% 0.000 0);
  --color-dark-text: oklch(85.38% 0.012 264.50);
  --color-dark-shadow: oklch(20.96% 0.000 0);
  --color-dark-1: oklch(86.69% 0.000 0);
  --color-dark-2: oklch(57.31% 0.000 0);
  --color-dark-3: oklch(42.85% 0.000 0);
  --color-dark-4: oklch(30.96% 0.000 0);

  --animate-fade-in-down: fade-in-down 0.4s ease-out forwards;
  --animate-fade-out-up: fade-out-up 0.4s ease-in forwards;

  @keyframes fade-in-down {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fade-out-up {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-10px);
    }
  }
}